In [79]:
import pandas as pd
from datetime import datetime

In [80]:
output_facial=pd.read_csv("C:/Users/louis/Documents/GitHub/Gros_Cr-ne_Chauve/output.csv")

In [81]:
output_facial

   Unnamed: 0                  names          presence
0           0  Alexander_NEUNREUTHER  10-10-2022-21h57
1           1          Louis_LA_NEVE  10-10-2022-21h57

In [82]:
data0 = {'Colonne_0' : [datetime.today().strftime('%d-%m-%Y'),'Intitulé_du_cours_prof','Horaires','signature_de_l_enseignant'],
        'Colonne_1' : ['',"","",'Signature1'],
        'Colonne_2' : ['',"","",'Signature2'],
        'Colonne_3' : ['',"","",'Signature3'],
        'Colonne_4' : ['',"","",'Signature4'],
        'Colonne_5' : ['',"","",'Signature4']}

df0 = pd.DataFrame(data0)

data1 = {'Colonne_0' :['Elève_alternant','Alexander_NEUNREUTHER','Louis_LA_NEVE'],
        'Colonne_1' : ['','Signature1','Signature1'],
        'Colonne_2' : ['','Signature2','Signature2'],
        'Colonne_3' : ['','Signature3','Signature3'],
        'Colonne_4' : ['','Signature4','Signature4'],
        'Colonne_5' : ['','Signature5','Signature5']}

df1 = pd.DataFrame(data1)

data2 = {'Colonne_0' :['Elève_non_alternant','ROUSSAUX Claude-Marie'],
        'Colonne_1' : ['','Signature1'],
        'Colonne_2' : ['','Signature2'],
        'Colonne_3' : ['','Signature3'],
        'Colonne_4' : ['','Signature4'],
        'Colonne_5' : ['','Signature5']}
df2 = pd.DataFrame(data2)

frames = [df0, df1, df2]
df = pd.concat(frames)
df["names"]=df["Colonne_0"]
df=df.drop(["Colonne_0"],axis=1)

df

,Colonne_1,Colonne_2,Colonne_3,Colonne_4,Colonne_5,names
0,,,,,,10-10-2022
1,,,,,,Intitulé_du_cours_prof
2,,,,,,Horaires
3,Signature1,Signature2,Signature3,Signature4,Signature4,signature_de_l_enseignant
0,,,,,,Elève_alternant
1,Signature1,Signature2,Signature3,Signature4,Signature5,Alexander_NEUNREUTHER
2,Signature1,Signature2,Signature3,Signature4,Signature5,Louis_LA_NEVE
0,,,,,,Elève_non_alternant
1,Signature1,Signature2,Signature3,Signature4,Signature5,ROUSSAUX Claude-Marie

In [83]:
sousdf1=pd.DataFrame(df["names"][4:])
output_facial=output_facial.drop(["Unnamed: 0"],axis=1)

In [84]:
sousdf1

                   names
0        Elève_alternant
1  Alexander_NEUNREUTHER
2          Louis_LA_NEVE
0    Elève_non_alternant
1  ROUSSAUX Claude-Marie

In [85]:
sousdf1=sousdf1.merge(output_facial, on='names', how='left')
sousdf1

                   names          presence
0        Elève_alternant               NaN
1  Alexander_NEUNREUTHER  10-10-2022-21h57
2          Louis_LA_NEVE  10-10-2022-21h57
3    Elève_non_alternant               NaN
4  ROUSSAUX Claude-Marie               NaN

In [95]:
from datetime import date


sousdf1.to_csv("C:/Users/louis/Documents/GitHub/Gros_Cr-ne_Chauve/output_modif"+str(datetime.today().strftime("%H_%M_%S"))+".csv")