In [2]:
import pandas as pd
from datetime import datetime
from tkinter import *
from tkinter.filedialog import askopenfilename
from rich.console import Console

console = Console()

In [2]:
output_facial=pd.read_csv("C:/Users/louis/Documents/GitHub/Projet_Wirtz/output.csv")

In [3]:
output_facial

   Unnamed: 0                  names          presence
0           0  NEUNREUTHER_Alexander  12-10-2022-17h00
1           1          LA_NEVE_Louis  12-10-2022-17h01

In [4]:
data0 = {'Colonne_0' : [datetime.today().strftime('%d-%m-%Y'),'Intitulé_du_cours_prof','Horaires','signature_de_l_enseignant'],
        'Colonne_1' : ['',"","",'Signature1'],
        'Colonne_2' : ['',"","",'Signature2'],
        'Colonne_3' : ['',"","",'Signature3'],
        'Colonne_4' : ['',"","",'Signature4'],
        'Colonne_5' : ['',"","",'Signature4']}

df0 = pd.DataFrame(data0)

data1 = {'Colonne_0' :['Elève_alternant','Alexander_NEUNREUTHER','Louis_LA_NEVE'],
        'Colonne_1' : ['','Signature1','Signature1'],
        'Colonne_2' : ['','Signature2','Signature2'],
        'Colonne_3' : ['','Signature3','Signature3'],
        'Colonne_4' : ['','Signature4','Signature4'],
        'Colonne_5' : ['','Signature5','Signature5']}

df1 = pd.DataFrame(data1)

data2 = {'Colonne_0' :['Elève_non_alternant','ROUSSAUX Claude-Marie'],
        'Colonne_1' : ['','Signature1'],
        'Colonne_2' : ['','Signature2'],
        'Colonne_3' : ['','Signature3'],
        'Colonne_4' : ['','Signature4'],
        'Colonne_5' : ['','Signature5']}
df2 = pd.DataFrame(data2)

frames = [df0, df1, df2]
df = pd.concat(frames)
df["names"]=df["Colonne_0"]
df=df.drop(["Colonne_0"],axis=1)

df

,Colonne_1,Colonne_2,Colonne_3,Colonne_4,Colonne_5,names
0,,,,,,12-10-2022
1,,,,,,Intitulé_du_cours_prof
2,,,,,,Horaires
3,Signature1,Signature2,Signature3,Signature4,Signature4,signature_de_l_enseignant
0,,,,,,Elève_alternant
1,Signature1,Signature2,Signature3,Signature4,Signature5,Alexander_NEUNREUTHER
2,Signature1,Signature2,Signature3,Signature4,Signature5,Louis_LA_NEVE
0,,,,,,Elève_non_alternant
1,Signature1,Signature2,Signature3,Signature4,Signature5,ROUSSAUX Claude-Marie

In [5]:
sousdf1=pd.DataFrame(df["names"][4:])
output_facial=output_facial.drop(["Unnamed: 0"],axis=1)

In [9]:
sousdf1

                   names
0        Elève_alternant
1  Alexander_NEUNREUTHER
2          Louis_LA_NEVE
0    Elève_non_alternant
1  ROUSSAUX Claude-Marie

In [6]:
sousdf1=sousdf1.merge(output_facial, on='names', how='left')
sousdf1

                   names presence
0        Elève_alternant      NaN
1  Alexander_NEUNREUTHER      NaN
2          Louis_LA_NEVE      NaN
3    Elève_non_alternant      NaN
4  ROUSSAUX Claude-Marie      NaN

In [14]:
from datetime import date


sousdf1.to_csv("C:/Users/louis/Documents/GitHub/Projet_Wirtz/output_modif_"+str(datetime.today().strftime("%Hh%M"))+".csv")

In [1]:
#Suite du merge/merge final
compteur_lancer= int(input("Combien de fois avez vous lancé le programme: "))
compteur_lancer

2

In [4]:
liste_cours=['Travail personnel',
 ' A 330',
 ' UE 1. Architectures, modèles et langages de données',
 ' A 330','']
nbr_cours=int(len(liste_cours)/2)
nbr_cours

2

In [5]:
i=1
noms_fichier_pres=[]
if compteur_lancer==nbr_cours:
    while i <= compteur_lancer:
        root = Tk()
        root.update()
        console.print('Sélectionnez le '+str(i)+'ème fichier de présence', style="#3399FF")
        noms_fichier_pres.append(askopenfilename())
        root.destroy()
        i+=1
else:
    pass

Sélectionnez le 1ème fichier de présence

Sélectionnez le 2ème fichier de présence

In [6]:
noms_fichier_pres

['C:/Users/louis/Documents/GitHub/Projet_Wirtz/output.csv',
 'C:/Users/louis/Documents/GitHub/Projet_Wirtz/output_modif_17h02.csv']

In [ ]:
for (i in filenames){  
   name <- gsub("-",".",i)
   name <- gsub(".csv","",name)  
   i <- paste(".\\",i,sep="")
   assign(name,read.csv(i, header=FALSE)
}