In [4]:
import pandas as pd
from datetime import datetime

In [1]:
df_present ={'names': list({'josua', '- Claude'}), 'presence': ['04-10-2022-17h18', '04-10-2022-17h18']}

In [7]:
output_facial=pd.read_csv(r"C:\Users\louis\Downloads\output_csv.csv")

In [28]:
data0 = {'Colonne_0' : [datetime.today().strftime('%d-%m-%Y'),'Intitulé_du_cours_prof','Horaires','signature_de_l_enseignant'],
        'Colonne_1' : ['',"","",'Signature1'],
        'Colonne_2' : ['',"","",'Signature2'],
        'Colonne_3' : ['',"","",'Signature3'],
        'Colonne_4' : ['',"","",'Signature4'],
        'Colonne_5' : ['',"","",'Signature4']}

df0 = pd.DataFrame(data0)

data1 = {'Colonne_0' :['Elève_alternant','NEURETHER Alexander','LANEVE Louis'],
        'Colonne_1' : ['','Signature1','Signature1'],
        'Colonne_2' : ['','Signature2','Signature2'],
        'Colonne_3' : ['','Signature3','Signature3'],
        'Colonne_4' : ['','Signature4','Signature4'],
        'Colonne_5' : ['','Signature5','Signature5']}

df1 = pd.DataFrame(data1)

data2 = {'Colonne_0' :['Elève_non_alternant','ROUSSAUX Claude-Marie'],
        'Colonne_1' : ['','Signature1'],
        'Colonne_2' : ['','Signature2'],
        'Colonne_3' : ['','Signature3'],
        'Colonne_4' : ['','Signature4'],
        'Colonne_5' : ['','Signature5']}
df2 = pd.DataFrame(data2)

frames = [df0, df1, df2]
df = pd.concat(frames)

df

,Colonne_0,Colonne_1,Colonne_2,Colonne_3,Colonne_4,Colonne_5
0,09-10-2022,,,,,
1,Intitulé_du_cours_prof,,,,,
2,Horaires,,,,,
3,signature_de_l_enseignant,Signature1,Signature2,Signature3,Signature4,Signature4
0,Elève_alternant,,,,,
1,NEURETHER Alexander,Signature1,Signature2,Signature3,Signature4,Signature5
2,LANEVE Louis,Signature1,Signature2,Signature3,Signature4,Signature5
0,Elève_non_alternant,,,,,
1,ROUSSAUX Claude-Marie,Signature1,Signature2,Signature3,Signature4,Signature5

In [35]:
df

,Colonne_1,Colonne_2,Colonne_3,Colonne_4,Colonne_5,names
0,,,,,,09-10-2022
1,,,,,,Intitulé_du_cours_prof
2,,,,,,Horaires
3,Signature1,Signature2,Signature3,Signature4,Signature4,signature_de_l_enseignant
0,,,,,,Elève_alternant
1,Signature1,Signature2,Signature3,Signature4,Signature5,NEURETHER Alexander
2,Signature1,Signature2,Signature3,Signature4,Signature5,LANEVE Louis
0,,,,,,Elève_non_alternant
1,Signature1,Signature2,Signature3,Signature4,Signature5,ROUSSAUX Claude-Marie

In [51]:
df["names"]=df["Colonne_0"]
df=df.drop(["Colonne_0"],axis=1)

KeyError: 'Colonne_0'

In [58]:
sousdf1=pd.DataFrame(df["names"][4:])
sousdf1

                   names
0        Elève_alternant
1    NEURETHER Alexander
2           LANEVE Louis
0    Elève_non_alternant
1  ROUSSAUX Claude-Marie

In [59]:
sousdf1["presence"]=[1,1,0,1,0]

In [60]:
output_facial=output_facial.drop(["Unnamed: 0"],axis=1)

KeyError: "['Unnamed: 0'] not found in axis"

In [61]:
output_facial

                   names          presence
0    NEURETHER Alexander  04-10-2022-17h18
1  ROUSSAUX Claude-Marie  04-10-2022-17h19

In [62]:
sousdf1=sousdf1.merge(output_facial, on='names', how='left')

In [63]:
sousdf1

                   names  presence_x        presence_y
0        Elève_alternant           1               NaN
1    NEURETHER Alexander           1  04-10-2022-17h18
2           LANEVE Louis           0               NaN
3    Elève_non_alternant           1               NaN
4  ROUSSAUX Claude-Marie           0  04-10-2022-17h19

In [66]:
len(['Travail personnel',
 ' A 330',
 ' UE 1. Architectures, modèles et langages de données',
 ' A 330'])/2

2.0

In [ ]:
sousdf1.to_csv("C:\Users\louis")

when len csv == len journée on le sort en csv propre

In [49]:
sousdf1['presence'] = sousdf1['presence'+str()].fillna("")

on mets un if à la fin du code et si il est trigger par la condition du dessus merge tout les sous csv

## Restant :

- Nettoyer le code de reconnaissance faciale
- Nettoyer le Scraping 
- Coder le compteur de cours et le merge final

Quand tout est ok, mettre la bonne forme